<div class="page-header">
  <h3>Popular Dish #<%= @popular_dish.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Venue</dt>
      <dd>
        <% if @popular_dish.venue.present? %>
          <a href="/venues/<%= @popular_dish.venue_id %>">
            <%= @popular_dish.venue.name %>
          </a>
        <% end %>
      </dd>

      <dt>Favorites</dt>
      <dd>
        <% if @popular_dish.favorites.present? %>
          <a href="/favorites/<%= @popular_dish.favorites_id %>">
            <%= @popular_dish.favorites.dish_id %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/popular_dishes" class="btn btn-primary">
        Back
      </a>
      <a href="/popular_dishes/<%= @popular_dish.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_popular_dish/<%= @popular_dish.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
