<div class="page-header">
  <h3>Populardishlist #<%= @populardishlist.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Venue</dt>
      <dd>
        <% if @populardishlist.venue.present? %>
          <a href="/venues/<%= @populardishlist.venue_id %>">
            <%= @populardishlist.venue.name %>
          </a>
        <% end %>
      </dd>

      <dt>Bookmarks</dt>
      <dd><%= @populardishlist.bookmarks_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/populardishlists" class="btn btn-primary">
        Back
      </a>
      <a href="/populardishlists/<%= @populardishlist.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_populardishlist/<%= @populardishlist.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
